cache: pip
language: python
sudo: false
python:
    - '3.5'
    - '3.6'
install:
    - make install-dev
    - pip install codecov
script:
    - make lint
    - make test-coverage
    - make docs-html
    - make validate-docstrings
after_success:
    - codecov
